<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">Add new ganre</title>
</head>
<body>
	<div class="container">
        <div th:insert="fragments/navigation :: navigation"></div>
		<div>
			<h2 class="text-center my-4">Add new ganre</h2>
            <div>
                <div th:if="${error != null}">
                  <div class="p-3 mb-2 bg-warning text-dark">
                      <span th:text="${error}"></span><br>
                  </div>
                </div>
            </div>
			<div class="d-flex justify-content-center m-3">
				<form class="w-50" action="#" th:action="@{/ganres/add}" th:object="${ganre}" method="post">
				    <div class="row my-1">
                       <div class="col">
                            <label class="col-form-label">Ganre name:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" th:field="*{name}" required/>
                        </div>
                    </div>
                    
					<div class="form-group row">
						<input class="btn m-1 btn-success col" type="submit" value="Save" />
						<input class="btn m-1 btn-secondary col" type="reset" value="Reset" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>