<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">Add new book</title>
</head>
<body>
	<div class="container">
        <div th:insert="fragments/navigation :: navigation"></div>
		<div>
			<h2 class="text-center my-4">Add new book</h2>
            <div>
                <div th:if="${error != null}">
                  <div class="p-3 mb-2 bg-warning text-dark">
                      <span th:text="${error}"></span><br>
                  </div>
                </div>
            </div>
			<div class="d-flex justify-content-center m-3">
				<form class="w-50" action="#" th:action="@{/books/add}" th:object="${book}" method="post">
				    <div class="row my-1">
                       <div class="col">
                            <label class="col-form-label">Name:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" th:field="*{name}" required/>
                        </div>
                    </div>
                    <div class="row my-1">
                       <div class="col">
                            <label class="col-form-label">Description:</label>
                        </div>
                        <div class="col">
                            <textarea class="form-control" th:field="*{description}" placeholder="Description up to 200 characters" maxlength="200" required></textarea>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <label class="col-form-label">Release date:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" th:field="*{releaseDate}" required/>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <label class="col-form-label">Author:</label>
                        </div>
                        <div class="col">
                            <select class="form-select" th:field="*{author.id}" required>
	                            <option value="-1" hidden="">Please select...</option>
	                            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName + ' ' + author.lastName}"></option>
                            </select>   
                        </div>
                    </div>
				    <div class="row my-1">
                        <div class="col">
                            <label class="col-form-label">Ganre:</label>
                        </div>
                        <div class="col">
                            <select class="form-select" th:field="*{ganre.id}" required>
	                            <option value="-1" hidden="">Please select...</option>
	                            <option th:each="ganre : ${ganres}" th:value="${ganre.id}" th:text="${ganre.name}"></option>
	                        </select>
                        </div>
                    </div>
				                        
					<div class="form-group row">
						<input class="btn m-1 btn-success col" type="submit" value="Save" />
						<input class="btn m-1 btn-secondary col" type="reset" value="Reset" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>