<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">All books</title>
</head>
<body>
	<div class="container">
		<div th:insert="fragments/navigation :: navigation"></div>
		<div class="row">
			<div class="col mx-2 my-3">
			     <div class="d-flex justify-content-between">
				     <div class="d-block">
						<a class="btn btn-primary" href="/books/add">Add book</a>
					</div>
					<div class="text-center">
						<h3>All books</h3>
					</div>
					<div class="text-right">
					   <div class="d-inline-flex">
							<form action="#" th:action="@{/books}" method="get">
								<div class="input-group px-2">
                                    <span class="input-group-text" id="span-find">By name:</span> 
	                                <input type="text" name="bookName" placeholder="Enter book name" class="form-control" aria-describedby="btn-find" /> 
	                                <input type="submit" id="btn-find" value="Find" class="btn btn-outline-secondary" />
								</div>
							</form>
						</div>
					</div>
			     </div>
			</div>
		</div>
		<div class="d-flex m-auto">
			<table class="table table-striped">
				<thead class="px-5">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Release date</th>
						<th scope="col">Author</th>
						<th scope="col">Genre</th>
						<th sec:authorize="hasRole('ADMIN')" scope="col"></th>
					</tr>
				</thead>
				<tbody class="px-5">
					<tr th:if="${#lists.isEmpty(books)}">
						<td colspan="6" class="text-center">No books available</td>
					</tr>
					<tr th:each="book : ${books}">
						<td><span th:text="${book.id}"></span></td>
						<td>
						   <a th:href="@{/books/{id}(id=${book.id})}">
						      <span th:text="${book.name}"></span>
						   </a>
					    </td>
						<td><span th:text="${book.description}"></span></td>
						<td><span th:text="${book.releaseDate}"></span></td>
						<td><span
							th:text="${book.author.firstName + ' ' + book.author.lastName}"></span></td>
						<td><span th:text="${book.ganre.name}"></span></td>
						<td sec:authorize="hasRole('ADMIN')" class="w-100 d-inline-flex justify-content-end">
							<div>
								<a class="fa fa-pencil custom-btn m-1 mx-2"
									th:href="@{/books/{id}(id=${book.id})}"></a>
								<form action="#" th:action="@{/books/delete}" method="post">
									<input type="hidden" th:value="${book.id}" name="id" />
									<button class="delete-btn custom-btn" type="submit"
										name="delete">
										<span class='fa fa-trash'></span>
									</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>