<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">Edit author</title>
</head>
<body>
    <div class="container">
        <div th:insert="fragments/navigation :: navigation"></div>
        <div>
            <h2 class="text-center my-4">Edit author</h2>
            <div>
                <div th:if="${error != null}">
                  <div class="p-3 mb-2 bg-warning text-dark">
                      <span th:text="${error}"></span><br>
                  </div>
                </div>
            </div>
            <div class="d-flex justify-content-center m-3">
                <form class="w-50" action="#" th:action="@{/authors/{id}(id=${author.id})}" th:object="${author}" method="post">
                    <div class="form-group row">
                        <div class="col">
                            <label class="col-form-label">id:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" th:field="*{id}" disabled="disabled" required/>
                        </div>
                    </div>
                    <div class="row my-1">
                       <div class="col">
                            <label class="col-form-label">First name:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" th:field="*{firstName}" required/>
                        </div>
                    </div>
                    <div class="row my-1">
                       <div class="col">
                            <label class="col-form-label">Last name:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" th:field="*{lastName}" required/>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <label class="col-form-label">Birthday:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" th:field="*{birthday}" required/>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col">
                            <label class="col-form-label">Date of death:</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" th:field="*{dateOfDeath}"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <input class="btn m-1 btn-success col" type="submit" value="Save" />
                        <input class="btn m-1 btn-secondary col" type="reset" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>